<div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <h1 class="text-center">Datos Insertados</h1>
                <!-- Mostrar los datos insertados aquí -->
                <p class="lead">Nombre: John Doe</p>
                <p class="lead">Email: john@example.com</p>
            </div>
        </div>
    </div>

    <script>
        // Esperar 2 segundos antes de redirigir
        setTimeout(function() {
            window.location.href = 'otra_pagina.html';
        }, 2000); // 2000 milisegundos = 2 segundos
    </script>